@import '/src/App.scss';

.home-page {
  width: 100%;
  padding: 5rem 3rem 3rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards-list-page {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.cards-list {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 620px) {
  .home-page {
    align-items: center;
    padding: 5rem 1rem 1rem 1rem;
  }
  .cards-list-page {
    width: 100%;
  }
}
.title {
  height: 4rem;
  width: 100%;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 15% 20% 65%;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  font-size: 1rem;
  background-color: #d0d0d0;
}
