.cards-list_row {
  width: 100%;
  padding: .3rem 1rem .3rem 1rem;
  display: grid;
  grid-template-columns: 10% 20% 70%;
  font-size: .7rem;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
  transition: all .8s;
  gap: .5rem;
  &:hover {
    transform: scale(1.01);
    background-color: #e8e8e8;
  }
  &_img {
    height: 2.8rem;
    width: 2rem;
  }
}
.cards-list_row > h3 {
  padding-left: 1rem;
}
