.cards-list_row {
  width: 100%;
  padding: .5rem;
  display: grid;
  grid-template-columns: 7% 15% 33% 15% 15%;
  text-align: left;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
  transition: all .8s;
  gap: 1rem;
  &:hover {
    transform: scale(1.01);
    background-color: #e8e8e8;
  }
  &_img {
    height: 2rem;
    width: 3rem;
  }
}
