.countries-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  justify-self: center;
  gap: 1rem;
  padding: 20px;
  list-style: none;
}

.title {
  width: 100%;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: 5% 7% 20% 30% 12% 20%;
  text-align: left;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
  gap: 0.5rem;
  background-color: #acacac;
  font-size: .7rem;
}

.sort-buttons {
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-buttons:hover {
  color: #c4e76b;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .2rem;
  .region-select {
    margin-left: 5px;
    padding: 5px;
    background-color: #d0cccc;
    border-radius: 4px;
    font-size: 0.7rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}