/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
:root {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-size: 0.7rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style-type: none;
  list-style: none;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.8s;
  font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/Components/ButtonTheme/style.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_theme_button__x4_po {
  height: 3rem;
  width: 5rem;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(249, 249, 249);
  box-shadow: 0 0 0.5rem 0.2rem rgba(189, 187, 187, 0.5);
  transition: 0.5s;
  color: black;
  cursor: pointer;
}

.style_theme_button__x4_po:hover {
  transform: scale(1.05);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/Components/Layout/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_light__5SaNN {
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #000000;
}
.style_light__5SaNN .style_header__pMVBF {
  background-color: #f9f9f9;
  color: #000000;
}

.style_dark__6uwLR {
  min-height: 100vh;
  background-color: #11111e;
  color: #4a4848;
}
.style_dark__6uwLR .style_header__pMVBF {
  background-color: #11111e;
  color: #4a4848;
}

.style_art__gQMQF {
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #000000;
}
.style_art__gQMQF .style_header__pMVBF {
  background-color: #f9f9f9;
  color: #000000;
}
.style_art__gQMQF .style_main__KSdQ3 {
  background-image: url("/mainartbg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.style_header__pMVBF {
  width: 100%;
  height: 6rem;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: 0 0 0.5rem 0.2rem rgba(189, 187, 187, 0.5);
  z-index: 100;
}

.style_main__KSdQ3 {
  min-height: 100vh;
  padding-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
