:root {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-size: 0.7rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style-type: none;
  list-style: none;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.8s;
  font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }

  button {
    background-color: #f9f9f9;
  }
}
